
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489663245225'); /* IE9*/
  src: url('iconfont.eot?t=1489663245225#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489663245225') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489663245225') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489663245225#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-css3:before { content: "\e695"; }

.icon-n:before { content: "\e69f"; }

.icon-socialangular:before { content: "\e8e3"; }

.icon-h5:before { content: "\e73b"; }

.icon-ajax:before { content: "\e622"; }

.icon-js:before { content: "\e624"; }

.icon-jquery-copy:before { content: "\e600"; }

.icon-p1:before { content: "\e6c3"; }

